<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192040465745-62bn31edp2mf0jc3ri00umuv7fspdn3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192040465745-62bn31edp2mf0jc3ri00umuv7fspdn3h</string>
	<key>API_KEY</key>
	<string>AIzaSyDxXBv3HAF7Q_BqVOXCn1OM73KWPn64uyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>192040465745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandruOana.Chatter</string>
	<key>PROJECT_ID</key>
	<string>chatter-e8830</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-e8830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192040465745:ios:aa8e3bd6d808a98ae10f70</string>
</dict>
</plist>